
@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@model List<TDanhMucSp>

@foreach (var item in Model)
{
	<li class="span3">
		<div class="thumbnail">
			<a href="product_details.html"><img src="@Url.Content("..../Shop/themes/images/products/"+item.AnhDaiDien)" alt="Anh dai dien" /></a>
			<div class="caption">
				<h5>@item.TenSp</h5>
				<p>
					@item.GioiThieuSp
				</p>

				<h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.GiaLonNhat</a></h4>
			</div>
		</div>
	</li>
}

